{% extends 'base.html' %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <div class="container mt-5">
        <div class="row">
        <div class="card p-2" style="width: 450px; margin: 0 auto;">
            <form class="form-signin" method="POST" action="{% url 'login' %}">{% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Login</span>
                </div>
                <input type="text" name="username" class="form-control" placeholder="Enter login">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Password</span>
                </div>
                <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
              <button type="submit" class="btn btn-primary btn-block" value="login">Log In</button>
            </form>
        </div>
        </div>
    </div>

<style>

.input-group>.input-group-prepend {
    flex: 0 0 22%;
}
.input-group .input-group-text {
    width: 100%;
}

</style>
{% endblock %}

