{% extends 'base.html' %}

{% block content %}
<title>Reset Password</title>

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <div class="container mt-5">
        <div class="row">
        <div class="card p-2" style="width: 600px; margin: 0 auto;">
            <form class="form-signin" method="POST" action="{% url 'password_change' %}">{% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Old password</span>
                </div>
                <input type="password" name="old_password" class="form-control" placeholder="Old password">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">New password</span>
                </div>
                <input type="password" name="new_password1" class="form-control" placeholder="Enter new password">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Confirm password</span>
                </div>
                <input type="password" name="new_password2" class="form-control" placeholder="Confirm password">
            </div>
            <button type="submit" class="btn btn-primary btn-block" value="password_change" href="{% url 'profile' %}">Change my password</button>
            </form>
        </div>
        </div>
    </div>

<style>
.input-group .input-group-prepend {
    flex: 0 0 27%;
}
</style>
{% endblock %}