{% load static %}
<!doctype html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <link rel="stylesheet" href="/static/css/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="/static/css/flags.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <style>
        .dropdown-toggle::after { display:none; }
<<<<<<< HEAD:offerwall_backend/offers/templates/base.html
    </style>
=======
        .bootstrap-tagsinput .tag {
            background-color: #6FBFDD;
            font-size: 75%;
            border-radius: .25em;
            font-weight: 700;
            padding: .2em .6em .3em;
        }
    </style>  
>>>>>>> 4c7ad7144ce13675a83ac46d6512b724712d4798:Offerwall/offers/templates/base.html
</head>

<body>
    {% include 'main/navbar.html' %}
<<<<<<< HEAD:offerwall_backend/offers/templates/base.html
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

    <div class="container-fluid">
=======
>>>>>>> 4c7ad7144ce13675a83ac46d6512b724712d4798:Offerwall/offers/templates/base.html
        {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<<<<<<< HEAD:offerwall_backend/offers/templates/base.html
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
=======

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>    

>>>>>>> 4c7ad7144ce13675a83ac46d6512b724712d4798:Offerwall/offers/templates/base.html
    {% block footer_scripts %}{% endblock %}
</body>

</html>
