{% extends "base.html" %}

{% block title %}Offerwall{% endblock %}

{% block content %}
<div id="app">
<div class="row">
    <div class="col-md-12" style="text-align: center">
        <table id="apps_table" class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>App ID</th>
                    <th>App Name</th>
                    <th style="width:75px">OS</th>
                    <th style="width:60px">Payout</th>
                    <th style="width:150px">Total cap</th>
                    <th style="width:60px">Geo</th>
                    <th style="width:100px">Status</th>
                </tr>
            </thead>
            <tbody>
              <tr v-for="item in list">
                <th> {{ item }} </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </tbody>
        </table>
        {{ list }}
    </div>
</div>
</div>
{% endblock %}

{% block footer_scripts %}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

<script type=”text/javascript”>
new Vue({
  el: '#app',
  data: {
      col1: 'c1',
      col2: 'c2',
      list: ['c1', 'c2']
  },
});
</script>
{% endblock %}
