{% extends "base.html" %}

{% block title %}Offerwall{% endblock %}

{% block content %}
<<<<<<< HEAD:offerwall_backend/offers/templates/index.html
<div class="row">
    <div class="col-md-12" style="text-align: center">
        <table id="apps_table" class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>App ID</th>
                    <th>App Name</th>
                    <th style="width:75px">OS</th>
                    <th style="width:60px">Payout</th>
                    <th style="width:150px">Total cap</th>
                    <th style="width:60px">Geo</th>
                    <th style="width:100px">Status</th>
                </tr>
            </thead>
        </table>
=======
<div class="container" style="padding:15px">
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="inputApp" name="app" placeholder="Application (ID or Name)" autocomplete="off">
            </div>
            <div class="form-group col-md-3">
                <select id="inputOS" name="os" class="form-control">
                    <option value="" selected>All Platforms</option>
                    <option value="Android">Android</option>
                    <option value="iOS">iOS</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <select id="inputStatus" name="status" class="form-control">
                    <option value="" selected>All States</option>
                    <option value="active">Active</option>
                    <option value="paused">Paused</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="form-group col-md-3">
                <input type="text" class="form-control" id="daterange" name="daterange" value="" style="text-align: center; width: 100%;">
            </div> -->
            <div class="form-group col-md-9">
                <input class="form-control tagsinput-typeahead" type="text" id="countries" name="countries" autocomplete="off"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Search</button>
    </form>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <table id="apps_table" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>App ID</th>
                        <th>App Name</th>
                        <th style="width:75px">OS</th>
                        <th style="width:60px">Payout</th>
                        <th style="width:150px">Total cap</th>
                        <th style="width:150px">Your cap</th>
                        <th style="width:60px">Geo</th>
                        <th style="width:100px">Status</th>
                    </tr>
                </thead>
            </table>

            <nav><ul class="pagination justify-content-center"></ul></nav>
        </div>
>>>>>>> 4c7ad7144ce13675a83ac46d6512b724712d4798:Offerwall/offers/templates/index.html
    </div>
</div>
{% endblock %}

{% block footer_scripts %}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<<<<<<< HEAD:offerwall_backend/offers/templates/index.html
<script>

    function createSubTable (d) {
        var sub_table  = '<table id="offers_' + d.app_id + '" class="display" style="width:100%"><tbody>'
        // for (var i = 0; i < d.connected_offers.length; i++) {
        //     sub_table += '<tr>'

        //     sub_table += '<td>' + d.connected_offers[i]['offer_id'] + '</td>';
        //     sub_table += '<td>' + d.connected_offers[i]['offer_name'] + '</td>';
        //     sub_table += '<td>' + d.connected_offers[i]['payout'] + '</td>';
        //     sub_table += '<td>' + d.connected_offers[i]['all_progress'] + '</td>';
        //     sub_table += '<td>' + d.connected_offers[i]['pub_progress'] + '</td>';
        //     sub_table += '<td>' + d.connected_offers[i]['countries'] + '</td>';
        //     sub_table += '<td>' + d.connected_offers[i]['status'] + '</td>';
        //     sub_table += '<td>' + d.connected_offers[i]['created_at'] + '</td>';
        //     sub_table += '<td>' + d.connected_offers[i]['pub_action'] + '</td>';

        //     sub_table += '</tr>'
        // }
        sub_table += '</tbody></table>'
        return sub_table
    }
=======
<script src="static/js/bootstrap-tagsinput.js"></script>
<script src="static/js/bootstrap3-typeahead.js"></script>
<script src="https://cdn.bootcss.com/typeahead.js/0.11.1/bloodhound.min.js"></script>
>>>>>>> 4c7ad7144ce13675a83ac46d6512b724712d4798:Offerwall/offers/templates/index.html

<script>
    function display_progress(convs, caps) {
        if (caps == 0) {
            return ''
        }
        var width = Math.round(100 * convs/caps),
            label = convs + '/' + caps
            pgb_class = ''

        if (convs < caps) {
            pgb_class = 'progress-bar-striped bg-success'
        } else if (convs == caps) {
            pgb_class = 'bg-success'
        } else {
            pgb_class = 'bg-danger'
        }
        return '<div class="progress" style="width:150px"><span class="progress-value">' + label + '</span>' + '<div class="progress-bar ' +
            pgb_class + '" role="progressbar" style="width: ' + width +'%" aria-valuenow="' + width +'" aria-valuemin="0" aria-valuemax="100"></div></div>'
    }

    function display_countries(countries) {
        var cc_html = ''
        if (countries.length <= 4) {
            for (let i = 0; i < countries.length; i++) {
                cc_html += '<img src="/static/images/blank.gif" class="flag flag-' + countries[i] + '"/>'
            }
        } else {
            for (let i = 0; i < 3; i++) {
                cc_html += '<img src="/static/images/blank.gif" class="flag flag-' + countries[i] + '"/>'
            }
            cc_html += '...'
        }
        return cc_html
    }

    function display_status(status) {
        if (status == 'active') {
            return '<span class="badge badge-success">active</span>'
        } else {
            return '<span class="badge badge-warning">paused</span>'
        }
    }

    /* Parse QueryString using String Splitting */
    function parseQueryStringToDictionary(queryString) {
        var dictionary = {};
        
        if (queryString.indexOf('?') === 0) {
            queryString = queryString.substr(1);
        }
        var parts = queryString.split('&');
        
        for(var i = 0; i < parts.length; i++) {
            var keyValuePair = parts[i].split('=');                    
            var key = keyValuePair[0],
                value = keyValuePair[1];
            
            if (key != '') {      
                dictionary[key] =  decodeURIComponent(value).replace(/\+/g, ' ');
            }
        }
        return dictionary;
    }

    function pageURL(dict, page) {
        dict['page'] = page
        return '/?' + $.param(dict)
    }

    $(document).ready(function() {
        var requestURL = "/get_data?" + window.location.href.slice(window.location.href.indexOf('?') + 1)        
        var dict = parseQueryStringToDictionary(document.location.search);
        if (dict['page'] == null) { dict['page'] = 1 }

        $.getJSON('/get_countries', function(response) {
            var countries = response.data
            country_tags = $('.tagsinput-typeahead').tagsinput({
                typeahead: {
                    source: response.data.map(function (item) {
                        return item.name
                    }),
                    afterSelect: function () {
                        this.$element[0].value = '';
                    }
                }
            })
            $('.tagsinput-typeahead').tagsinput('add', dict['countries'])
        })

        if (dict['app']) { $('#inputApp').val(dict['app']); }
        if (dict['os']) { $('#inputOS').val(dict['os']); }
        if (dict['status']) { $('#inputStatus').val(dict['status']);  }

        $.getJSON(requestURL, function(response) {
            // Fill table
            var apps_table = $('table#apps_table').DataTable({
                data: response.data,
                lengthMenu: [[-1], ["All"]],
                sDom: '<"top">rt<"bottom"><"clear">',
                columns: [
                    {
                        "className":      'details-control',
                        "orderable":      false,
                        "data":           null,
                        "defaultContent": ''
                    },
                    { "data": "app_id" },
                    { "data": "app_name" },
                    { "data": "os" },
                    { "render": function ( data, type, row, meta ) { return '$' + row.top_payout.toFixed(2) } },
                    { "render": function ( data, type, row, meta ) { return display_progress(row.all_convs, row.all_caps) } },
                    { "render": function ( data, type, row, meta ) { return display_countries(row.countries) } },
                    { "render": function ( data, type, row, meta ) { return display_status(row.app_status) } },
                ],
                order: [[1, 'asc']],
            });

            // Add pagionation
            var length = response.pagination.total_count,
                pageSize = response.pagination.limit,
                page = response.pagination.page

            if (length / pageSize > parseInt(length / pageSize)) {
                pageCount = parseInt(length / pageSize) + 1;
            } else {
                pageCount = length / pageSize;
            }

            $('nav .pagination').append('<li class="page-item"><a class="page-link" href="' + pageURL(dict, 1) + '" tabindex="-1">First</a></li>');
            if (page == 1) {
                $("nav .pagination li:last-child").addClass("disabled");
            }

            if (page - 2 > 0) {
                $('nav .pagination').append('<li class="page-item"><a class="page-link" href="' + pageURL(dict, page-2) + '" tabindex="-1">' + (page-2) + '</a></li>');
            } 
            if (page - 1 > 0) {
                $('nav .pagination').append('<li class="page-item"><a class="page-link" href="' + pageURL(dict, page-1) + '" tabindex="-1">' + (page-1) + '</a></li>');
            } 
            $('nav .pagination').append('<li class="page-item active"><a class="page-link" href="#" tabindex="-1">' + page + '</a></li>');
            if (page + 1 < pageCount) {
                $('nav .pagination').append('<li class="page-item"><a class="page-link" href="' + pageURL(dict, page+1) + '" tabindex="-1">' + (page+1) + '</a></li>');                
            } 
            if (page + 2 < pageCount) {
                $('nav .pagination').append('<li class="page-item"><a class="page-link" href="' + pageURL(dict, page+2) + '" tabindex="-1">' + (page+2) + '</a></li>');
            } 

            $('nav .pagination').append('<li class="page-item"><a class="page-link" href="' + pageURL(dict, pageCount) + '" tabindex="-1">Last</a></li>');
            if (page == pageCount) {
                $("nav .pagination li:last-child").addClass("disabled");
            }

            // Add event listener for opening and closing details
            $('#apps_table tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
<<<<<<< HEAD:offerwall_backend/offers/templates/index.html
                var row = apps_table.row(tr);

                console.log(row.data().connected_offers)
=======
                var row = apps_table.row(tr);                    
>>>>>>> 4c7ad7144ce13675a83ac46d6512b724712d4798:Offerwall/offers/templates/index.html

                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    row.child(
                        '<table id="offers_' + row.data().app_id + '" class="display" style="width:100%"><tbody></tbody></table>'
                    ).show();

                    $('table#offers_' + row.data().app_id).DataTable({
                        data: row.data().connected_offers,
                        lengthMenu: [[-1], ["All"]],
                        sDom: '<"top"><"bottom"><"clear">',
                        columns: [
                            { "data": "offer_id" },
                            { "data": "offer_name" },
                            { "render": function ( data, type, row, meta ) { return '$' + row.payout.toFixed(2) } },
                            { "render": function ( data, type, row, meta ) { return display_progress(row.all_convs, row.all_caps) } },
                            { "render": function ( data, type, row, meta ) { return display_countries(row.countries) } },
                            { "render": function ( data, type, row, meta ) {
                                var date = new Date(row.created_at * 1000);
                                var month = date.getMonth(),
                                    day = date.getDate();

                                if (month < 10) { month = '0' + month  }
                                if (day < 10) { day = '0' + day  }

                                return date.getFullYear() + '-' + month + '-' + day
                            }},
                            { "render": function ( data, type, row, meta ) { return display_status(row.status) } },
                            {
                              "render": function() {return '<button href="#"><span class="glyphicon glyphicon-pencil" aria-hidden="true">Edit</span></button>'}
                            },
                            {
                              "render": function() {return '<button href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true">Remove</span></button>'}
                            }
                        ],
                        order: [[0, 'desc']],
                    });
                    tr.addClass('shown');
                }
            });

        })
    });
</script>
{% endblock %}
