<template>
  <div class="modal-window-message">
  <div class="modal fade" :id="pub_id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel"></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h1>{{info}}</h1>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
    </div>
  </div>
</div>
</div>
</div>
</template>

<script>
export default {
  props: {
    info: {},
    pub_id: {}
  }
}
</script>
