<template>
  <div class="button-change">
    <button class="btn btn-outline-success btn-sm" data-toggle="modal" v-bind:data-target="'#change'+pub_id">Change</button>
    <div class="modal fade" v-bind:id="'change'+pub_id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change daily limit of publisher
          <span class="badge badge-success"> {{ pub_id }}</span>
          offer
          <span class="badge badge-secondary"> {{ offer_id }}</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div class="form-row">
            <div class="form-group col-md-4">
              <input type="number" class="form-control" placeholder="Limit" v-model="caps" required>
            </div>
          </div>
          {{ info }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            <button @click="changePublisher" type="submit" class="btn btn-primary">
              Change
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
  </div>
  </div>
</template>

<script>
import axios from 'axios';
import ModalWindowMessage from "./ModalWindowMessage.vue"
export default {
  componentes: {ModalWindowMessage},
  props: {
    offer_id: {},
    pub_id: {}
  },
  data() {
    return {
      info: '',
      is_response: false,
      caps: ''
    };
  },
  methods: {
    changePublisher(event) {
      let res = '?offer_id='+this.offer_id+'&pub_id='+this.pub_id+'&caps='+this.caps;
      fetch('http://0.0.0.0:8000/change_caps'+res,{
        method: 'GET'
      })
      .then(stream => stream.json())
      .then(response => (this.info = response.message))
      .then(this.is_response = true)
      .catch((error) => console.log(error))
    }
  }
}
</script>
