<template>
  <div class="button-disable">
    <button @click="hidePublisher(pub_id)" class="btn btn-outline-danger btn-sm" data-toggle="modal" v-bind:data-target="'#disable'+pub_id">Disable</button>
    <div class="modal fade" v-bind:id="'disable'+pub_id" tabindex="-1" role="dialog" aria-labelledby="disableModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to disable pub
          <span class="badge badge-danger"> {{ pub_id }}</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>{{info}}</h1>
      </div>
      <div class="modal-footer">
        <button @click="hidePublisher(pub_id)" type="button" class="btn btn-light" data-dismiss="modal">Close</button>
        <button @click="disablePublisher" href="" type="button" class="btn btn-danger">Disable</button>
      </div>
    </div>
  </div>
  </div>
  </div>
</template>

<script>
import axios from 'axios';
import ModalWindowMessage from "./ModalWindowMessage.vue"
export default {
  componentes: {ModalWindowMessage},
  props: {
    offer_id: {},
    pub_id: {}
  },
  data() {
    return {
      info: '',
      disabled: false
    };
  },
  methods: {
    disablePublisher(event) {
      let res = '?offer_id='+this.offer_id+'&pub_id='+this.pub_id;
      fetch('http://0.0.0.0:8000/disable_publisher'+res,{
        method: 'GET'
      })
      .then(stream => stream.json())
      .then(response => (this.info = response.message))
      .then(this.disabled = true)
      .catch((error) => console.log(error))
    },
    hidePublisher(e){
      if(this.disabled){
        this.$emit('disablePublisher', e)
      }
    }
  }
}
</script>
