<template>
  <div id="display-countries" v-model="displayCountries">
    <div class="row p-1">
      <div v-for="country in countries.slice(0, 6)" class="w-25">
        <img src="/static/images/blank.gif" v-bind:class="displayCountry(country)">
      </div>
      <span v-if="countries.length > 6">...</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    countries: {}
  },
  data() {
    return {
      cc_html: []
    };
  },
  methods: {
    displayCountry: function(country) {
      return "flag flag-" + country;
    }
  },
  computed: {
    displayCountries: function() {
      if (this.countries.length <= 4) {
        for (let i = 0; i < this.countries.length; i++) {
          this.cc_html.push("flag flag-" + this.countries[i]);
        }
      } else {
        for (let i = 0; i < 3; i++) {
          this.cc_html.push("flag flag-" + this.countries[i]);
        }
        this.cc_html.push("...");
      }
    }
  }
};
</script>
