<template>
<div id="status" v-model="displayStatus">
  <span v-bind:class="status_class">{{ status }}</span>
</div>
</template>

<script>
export default {
  props: {status:{}},
  data(){
    return {
      status_class: ''
    }
  },
  computed:{
  displayStatus: function(){
    if (this.status == 'active') {
        this.status_class = "badge badge-success"
    } else {
        this.status_class = "badge badge-warning"
    }
  }
}
}
</script>
