<template>
  <tr id="display-history">
    <td v-for="day in history">
      {{ displayHistory(day.all_convs, day.pub_convs) }}
    </td>
  </tr>
</template>

<script>
export default {
  props: {
    history: {},
    pub: {}
  },
  methods: {
    displayHistory(all_convs, pub_convs) {
      if (this.pub) {
        if (this.pub in pub_convs) {
          return pub_convs[this.pub]
        }
        else {
          return 0
        }
      }
      else {
        return all_convs
      }
    }
  }
}
</script>
