<template>
  <div id="progress">
  <div class="progress" style="width:150px">
    <span class="progress-value" v-model="displayProgress"> {{ label }} </span>
    <div :class="'progress-bar '+pgb_class" role="progressbar" :style="{width: v_width + '%'}" :aria-valuenow="v_width" aria-valuemin="0" aria-valuemax="100">
    </div>
  </div>
</div>
</template>

<script>
export default {
props:{
  caps: {},
  convs: 0
},
data() {
  return {
    pgb_class: '',
    v_width: '',
    label: ''
  }
},
computed: {
  displayProgress: function(){
    this.label = this.convs + '/' + this.caps
    this.v_width = Math.round(100 * this.convs/this.caps)
    if (this.convs < this.caps) {
        this.pgb_class = 'progress-bar-striped bg-success'
    } else if (this.convs == this.caps) {
        this.pgb_class = 'bg-success'
    } else {
        this.pgb_class = 'bg-danger'
    }
  }
}
}
</script>
