<template>
  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-primary justify-content-between">
      <a class="navbar-brand" href="/">DataFirst Offerwall</a>
    </nav>

    <div class="alert alert-warning" role="alert">
      1. If you made some changes with publishers or caps it may require to wait 3-5 minutes for changes to be displayed correctly here<br>
      2. Conversions are uploading every 30 minutes, so there might be some differences in "today" numbers.<br>
      3. There are only paid conversions here (successful installs + overcaps). "Payments not found" are not counted here<br>
      If there is error of another kind, describe it in <strong>#offerwall</strong> Slack channel 
    </div>

    <div class="row">
      <div class="container" style="margin-top: 15px">
        <form id="form" @submit.prevent="sumbit">
          <div class="form-row">
            <div class="form-group col-md-2">
              <input
                v-model="params.offer_id"
                type="number"
                class="form-control"
                id="inputOffer"
                name="offer_id"
                placeholder="Offer ID"
                autocomplete="off"
              >
            </div>
            <div class="form-group col-md-4">
              <input
                v-model="params.app"
                type="text"
                class="form-control"
                id="inputApp"
                name="app"
                placeholder="Application (ID or Name)"
                autocomplete="off"
              >
            </div>
            <div class="form-group col-md-2">
              <input
                v-model="params.adv"
                type="text"
                class="form-control"
                id="inputAdv"
                name="adv"
                placeholder="Advertiser"
              >
            </div>
            <div class="form-group col-md-2">
              <select id="inputOS" name="os" v-model="params.os" class="form-control">
                <option value selected>All Platforms</option>
                <option value="Android">Android</option>
                <option value="iOS">iOS</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <select id="inputTag" name="tag" v-model="params.tag" class="form-control">
                <option value="">All offers</option>
                <option value="focus">Focus offers</option>
                <option value="top">Top offers</option>
                <option value="new">New offers</option>
              </select>
            </div>
            <!-- <div class="form-group col-md-2">
              <select id="inputStatus" name="status" v-model="params.status" class="form-control" disabled>
                <option value="" selected>All States</option>
                <option value="active">Active</option>
                <option value="paused">Paused</option>
              </select>
            </div> -->
          </div>
          <div class="form-row">
            <div class="form-group col-md-9">
              <input-tag v-model="params.countries" id="countries" name="countries" placeholder="Geos (example: US, jp). Use commas to separate country code and in the end!"/>
            </div>
            <div class="form-group col-md-3" v-model="fin">
              <button class="btn btn-primary btn-block" href="/" @click="searchButton">
                Search
                <i v-if="loading" class="fa fa-spinner fa-spin" style="color: white"></i>
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-12" style="text-align: center">
        <div class="float-right">
          <button class="btn btn-light" @click="prevPage">Previous</button>
          {{ params.page }}
          <button class="btn btn-light" @click="nextPage">Next</button>

          <!-- <select v-model="pageSize" class="float-right w-25">
          <option disabled value="">Items per page</option>
          <option>5</option>
          <option>10</option>
          <option>15</option>
          <option>20</option>
          <option>50</option>
          </select>-->
        </div>

        <table
          id="apps_table"
          class="table table-bordered"
          style="width:100%; border-collapse:collapse; "
        >
          <thead>
            <tr>
              <th style="width:50px"></th>
              <th style="width:150px" @click="sort('app_id')">App ID</th>
              <th @click="sort('app_name')">App Name</th>
              <th style="width:75px" @click="sort('os')">OS</th>
              <th style="width:150px" @click="sort('all_caps')">Total cap</th>
              <th style="width:200px" @click="sort('pub_caps')">Progress</th>
              <th style="width:120px" @click="sort('countries')">Geo</th>
              <th style="width:60px">Tags</th>
              <th style="width:60px" @click="sort('status')">Status</th>
            </tr>
          </thead>
          <tbody v-for="item in sortedList">
            <tr data-toggle="collapse" class="accordion-toggle">
              <td>
                <button
                  class="btn btn-primary"
                  type="button"
                  v-bind:data-target="'#item-'+item.app_id"
                  data-toggle="collapse"
                  aria-expanded="false"
                  aria-controls="collapseExample"
                >+</button>
              </td>
              <td>{{ item.app_id }}</td>
              <td>{{ item.app_name }}</td>
              <td>{{ item.os }}</td>
              <td>{{ item.all_caps }}</td>
              <td>
                <display-progress v-bind:caps="item.all_caps" v-bind:convs="item.all_convs"></display-progress>
              </td>
              <td>
                <display-countries v-bind:countries="item.countries"></display-countries>
              </td>
              <td v-if="item.tags">
                <div v-for="tag in item.tags">
                  <span class="badge badge-info">{{ tag }}</span>
                </div>
              </td>
              <td>
                <display-status status="active"></display-status>
              </td>
            </tr>
            <tr>
              <td colspan="10" class="hiddenRow" style="padding: 0 !important;">
                <div
                  class="accordian-body collapse"
                  v-bind:id="'item-'+item.app_id"
                  style="margin-left:10px"
                >
                  <offers :offers="item.connected_offers"></offers>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import Offers from "./Offers.vue";
import DisplayCountries from "./DisplayCountries.vue";
import DisplayProgress from "./DisplayProgress.vue";
import DisplayStatus from "./DisplayStatus.vue";
import ModalWindow from "./ModalWindow.vue";

export default {
  name: "HelloWorld",
  components: {
    Offers,
    DisplayStatus,
    DisplayCountries,
    DisplayProgress,
    ModalWindow
  },
  data() {
    return {
      loading: false,
      stat: false,
      mongo: [],
      convs: [],
      search: "",
      // currentSort: "app_name",
      // currentSortDir: "asc",
      pageSize: 20,
      currentPage: 1,
      params: {
        app: "",
        adv: "",
        tag: "",
        os: "",
        countries: "",
        status: "active",
        page: 1
      },
      res: ""
    };
  },
  created() {
    this.fin;
    this.loading = true;
    this.getData();
  },
  methods: {
    getData(event) {
      {
        fetch("http://0.0.0.0:8000/search" + this.res, {
          before: () => {
            this.loading = true;
          },
          method: "get"
          /*headers: {"Content-Type":"application/json"},*/
          /*body: JSON.stringify({"countries": this.countries }),*/
        })
          .then(stream => stream.json())
          .then(response => (this.mongo = response.data))
          .then(() => {
            this.loading = false;
          })
          .then(this.$router.push({ query: this.params }))
          .catch(error => console.error(error));
        if (event) {
          this.loading = true;
        }
      }
    },
    searchButton(event) {
      this.params.page = 1;
      this.getData(event);
    },
    displayProgress(progress) {
      if (caps == 0) {
        return "";
      }
      var width = Math.round((100 * convs) / caps),
        label = convs + "/" + caps;
      pgb_class = "";

      if (convs < caps) {
        pgb_class = "progress-bar-striped bg-success";
      } else if (convs == caps) {
        pgb_class = "bg-success";
      } else {
        pgb_class = "bg-danger";
      }
      return (
        '<div class="progress" style="width:150px"><span class="progress-value">' +
        label +
        "</span>" +
        '<div class="progress-bar ' +
        pgb_class +
        '" role="progressbar" style="width: ' +
        width +
        '%" aria-valuenow="' +
        width +
        '" aria-valuemin="0" aria-valuemax="100"></div></div>'
      );
    },
    displayStatus(status) {
      if (status == "active") {
        return '<span class="badge badge-success">active</span>';
      } else {
        return '<span class="badge badge-warning">paused</span>';
      }
    },
    sort: function(s) {
      if (s === this.currentSort) {
        this.currentSortDir = this.currentSortDir === "asc" ? "desc" : "asc";
      }
      this.currentSort = s;
    },
    nextPage: function() {
      this.params.page++;
      this.fin;
      this.loading = true;
      this.getData();
    },
    prevPage: function() {
      if (this.params.page > 1) {
        this.params.page--;
        this.fin;
        this.loading = true;
        this.getData();
      }
    },
    submit: function(e) {
      let form = document.getElementById("form");
      return form;
    }
  },
  computed: {
    sortedList() {
      return this.mongo.sort((a, b) => {
        let modifier = 1;
        if (this.currentSortDir === "desc") modifier = -1;
        if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
        if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
        return 0;
      });
    },
    filteredList() {
      return this.mongo.filter(item => {
        return item.app_name.toLowerCase().includes(this.search.toLowerCase());
      });
    },
    fin: function() {
      this.res =
        "?countries=" +
        this.params.countries +
        "&app=" +
        this.params.app +
        "&adv=" +
        this.params.adv +
        "&tag=" +
        this.params.tag +
        "&os=" +
        this.params.os +
        "&page=" +
        this.params.page;
      if (this.params.offer_id != null) {
        this.res += '&offer_id=' + this.params.offer_id
      }
    },
    countriesList: function() {
      this.params.countries = this.params.countries.toString();
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.hiddenRow {
  padding: 0 !important;
}
</style>
