<template>
  <div id="modal-window">
    <button
      class="btn btn-primary"
      data-toggle="modal"
      :data-target="'#modal-'+offer_id"
      style="float:right"
    >Assign new publisher</button>
    <div
      class="modal fade"
      :id="'modal-'+offer_id"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Assign new publisher to
              <span class="badge badge-secondary">{{ offer_id }}</span>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="newPublisher">New Publisher</label>
                <div class="form-row">
                  <div class="form-group col-md-8">
                    <input
                      type="text"
                      class="form-control"
                      id="newPublisher"
                      aria-describedby="pubHelp"
                      placeholder="Enter new publisher"
                      v-model="body.pub_id"
                    >
                  </div>
                  <div class="form-group col-md-4">
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Personal cap"
                      v-model="body.caps"
                    >
                  </div>
                </div>
                {{ resp }}
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            <button
              type="button"
              class="btn btn-primary"
              href
              @click="enablePublisher(body.pub_id)"
            >Add publisher</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    offer_id: {}
  },
  data() {
    return {
      body: {
        offer_id: this.offer_id,
        pub_id: "",
      },
      resp: "",
      res: ""
    };
  },
  computed: {
    fin: function() {
      this.res = "?offer_id=" + this.offer_id + "&pub_id=" + this.body.pub_id;
      if (this.body.caps != null) {
        this.res += '&caps=' + this.body.caps;
      }
    }
  },
  methods: {
    enablePublisher(new_pub) {
      this.fin;
      fetch("http://0.0.0.0:8000/enable_publisher" + this.res, {
        method: "get",
        credentials: "same-origin"
      })
        .then(stream => stream.json())
        .then(response => (this.resp = response))
        .then(this.$emit("newPub", new_pub));
    }
  }
};
</script>
