<template>
  <div id="offers">
    <table class="w-100">
      <tbody v-for="offer in even(offers)">
        <tr>
          <td style="width:50px">
            <button
              class="btn btn-info btn-sm"
              type="button"
              v-bind:href="'#item-'+offer.offer_id"
              data-toggle="collapse"
              aria-expanded="false"
              aria-controls="collapseExample"
            >+</button>
          </td>
          <td style="width:150px">{{ offer.offer_id }}</td>
          <td style="width:450px">
            <a :href="'http://admintrack.datafirst.io/cpa/offer/' + offer.internal_id" target="_blank">{{ offer.offer_name }}</a>
          </td>
          <td style="width:150px">{{ offer.adv }}</td>
          <td style="width:60px">{{ offer.payout }}</td>
          <td style="width:60px">{{ offer.revenue }}</td>
          <td style="width:150px">
            <display-progress :caps="offer.all_caps" :convs="offer.all_convs"/>
          </td>
          <td style="width: 200px">
            <display-history :history="offer.history"></display-history>
          </td>
          <td>{{ convert_timestamp(offer.created_at) }}</td>
          <td style="width:120px">
            <display-countries :countries="offer.countries"/>
          </td>
          <td style="width:60px" v-if="offer.tags">
            <div v-for="tag in offer.tags">
              <span class="badge badge-info">{{ tag }}</span>
            </div>
          </td>
          <td style="width:60px" v-else="offer.tags==[]"></td>
          <td style="width:60px">
            <display-status v-bind:status="offer.status"></display-status>
          </td>
        </tr>
        <tr>
          <td colspan="11" class="hiddenRow" style="padding: 0 !important;">
            <div class="accordian-body collapse" v-bind:id="'item-'+offer.offer_id">
              <table class="w-100" style="margin-left: 50px">
                <tbody>
                  <tr style="float: left; padding: 0 40px" v-if="offer.connected_pubs.length==0">No publishers</tr>
                  <div v-for="pub in pubList(offer.connected_pubs)">
                    <pub :pub="pub" :offer="offer" @disablePublisher="disablePublisher"/>
                  </div>
                </tbody>
                <modal-window style="float: left" :offer_id="offer.offer_id" @newPub="newPub"/>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import DisplayStatus from "./DisplayStatus.vue";
import DisplayProgress from "./DisplayProgress.vue";
import DisplayCountries from "./DisplayCountries.vue";
import DisplayHistory from "./DisplayHistory.vue";
import ModalWindow from "./ModalWindow.vue";
import ButtonDisable from "./pubs-level/PubDisable.vue";
import ButtonChange from "./pubs-level/PubChange.vue";
import Pub from "./Pub.vue";
export default {
  props: {
    offers: {}
  },
  data() {
    return {
      all_pubs: {},
      new_pub: "",
      disabled_pub: ""
    };
  },
  components: {
    DisplayStatus,
    DisplayProgress,
    DisplayCountries,
    DisplayHistory,
    ModalWindow,
    ButtonDisable,
    ButtonChange,
    Pub
  },
  computed: {},
  methods: {
    even: function(arr) {
      return arr.slice().sort(function(a, b) {
        return b.created_at - a.created_at;
      });
    },
    progress_caps: function(pub, pub_caps, all_caps) {
      if (pub.pub_caps) {
        return pub.pub_caps;
      } else {
        return all_caps;
      }
    },
    progress_convs: function(pub, pub_convs) {
      if (pub in pub_convs) {
        return pub_convs[pub];
      } else {
        return 0;
      }
    },
    history_convs: function(pub, history) {
      let l = [];
      for (day in history) {
        if (pub in day.pub_convs) {
          l.push(pub);
        } else {
          l.push("0");
        }
      }
      return l;
    },
    convert_timestamp: function(timestamp) {
      let date = new Date(timestamp * 1000);
      let month = date.getMonth() + 1,
        day = date.getDate();

      if (month < 10) {
        month = "0" + month;
      }
      if (day < 10) {
        day = "0" + day;
      }

      return date.getFullYear() + "-" + month + "-" + day;
    },
    pubList: function(connected_pubs) {
      if (this.new_pub) {
        connected_pubs.push(this.new_pub);
        this.new_pub = "";
      }
      if (this.disabled_pub) {
        let index = connected_pubs.indexOf(parseInt(this.disabled_pub));
        connected_pubs.splice(index, this.disabled_pub);
        this.disabled_pub = "";
      }
      return connected_pubs;
    },
    newPub(e) {
      this.new_pub = e;
    },
    disablePublisher(e) {
      this.disabled_pub = e;
    }
  }
};
</script>

<style lang="css">
table > tbody > tr > td {
  border-top: 1px solid #17a2b8;
}
</style>
