<template>
  <tr id="pub" v-if="is_visible">
        <td style="width:150px">{{ pub.id }}</td>
        <td colspan="3" style="width:722px">{{ pub.title }}</td>
        <td>
          <display-progress
            v-bind:convs="progress_convs(pub.id, offer.pub_convs)"
            v-bind:caps="progress_caps(pub.id, offer.pub_caps, offer.all_caps)"
          ></display-progress>
        </td>
        <td style="width: 200px">
          <display-history :history="offer.history" :pub="pub.id"></display-history>
        </td>
        <td>
          <button-change :pub_id="pub.id" :offer_id="offer.offer_id"/>
        </td>
        <td>
          <button-disable :pub_id="pub.id" :offer_id="offer.offer_id" @disablePublisher="disablePublisher"/>
        </td>
      </tr>
</template>

<script>
import DisplayStatus from "./DisplayStatus.vue";
import DisplayProgress from "./DisplayProgress.vue";
import DisplayCountries from "./DisplayCountries.vue";
import DisplayHistory from "./DisplayHistory.vue";
import ModalWindow from "./ModalWindow.vue";
import ButtonDisable from "./pubs-level/PubDisable.vue"
import ButtonChange from "./pubs-level/PubChange.vue"

export default {
  components: { DisplayStatus, DisplayProgress, DisplayCountries,
    DisplayHistory, ModalWindow, ButtonDisable, ButtonChange },
  props:{
    pub: {},
    offer: {}
  },
  data(){
    return {
      is_visible: true
    }
  },
  methods: {
    progress_caps: function(pub_id, pub_caps, all_caps) {
      if (pub_caps[pub_id]) {
        return pub_caps[pub_id];
      } else {
        return all_caps;
      }
    },
    progress_convs: function(pub, pub_convs) {
      if (pub in pub_convs) {
        return pub_convs[pub];
      } else {
        return 0;
      }
    },
    history_convs: function(pub, history) {
      let l = []
      for(day in history){
        if (pub in day.pub_convs){
          l.push(pub)
        } else {
          l.push('0')
        }
      }
      return l
    },
    disablePublisher(e){
      this.$emit('disablePublisher', e)
    }
  }
}
</script>

<style lang="css">

</style>
