<nav class="navbar navbar-expand navbar-dark bg-primary justify-content-between">
    <a class="navbar-brand" href="/">DataFirst Offerwall</a>
    <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="oi oi-person" title="icon name" aria-hidden="true"></span>
                {{ user }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'password_change' %}">Reset password</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
        </li>
        {% else %}
        <li>
            <a role="button" href="{% url 'login' %}" class="btn btn-light" aria-pressed="true">Login</a>
            {% endif %}
        </li>
    </ul>
</nav>